In [1]:
import psycopg

# Connect to your PostgreSQL database
# Make sure it is already running on your computer.
# (This is done by default on JupyterHub)
conn = psycopg.connect("postgresql://postgres:[password]@localhost/yelp_dataset")


# Create a cursor object
cur = conn.cursor()

#  Create Tables
cur.execute("""
    CREATE TABLE IF NOT EXISTS businesses (
        business_id VARCHAR PRIMARY KEY,
        name VARCHAR,
        city VARCHAR,
        stars DECIMAL,
        review_count INT,
        categories TEXT
    )
""")


cur.execute("""
    CREATE TABLE IF NOT EXISTS reviews (
        review_id VARCHAR PRIMARY KEY,
        business_id VARCHAR REFERENCES businesses(business_id),
        user_id VARCHAR,
        stars DECIMAL,
        text TEXT,
        date DATE
    )
""")

cur.execute("""
    CREATE TABLE IF NOT EXISTS users (
        user_id VARCHAR PRIMARY KEY,
        name VARCHAR,
        review_count INT,
        avg_stars DECIMAL
    )
""")

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

In [2]:
import psycopg
import json
import random


business_file = "/Users/aidanajakulina/Downloads/yelp_dataset/yelp_academic_dataset_business.json"
review_file = "/Users/aidanajakulina/Downloads/yelp_dataset/yelp_academic_dataset_review.json"
user_file = "/Users/aidanajakulina/Downloads/yelp_dataset/yelp_academic_dataset_user.json"

# connect to your PostgreSQL database
conn = psycopg.connect("postgresql://postgres:[password]@localhost/yelp_dataset")
cur = conn.cursor()

#so we can start fresh with every time we run this code
cur.execute("TRUNCATE TABLE businesses CASCADE;")
cur.execute("TRUNCATE TABLE reviews CASCADE;")
cur.execute("TRUNCATE TABLE users CASCADE;")

# load and sample businesses
with open(business_file, 'r') as f:
    businesses = [json.loads(line) for line in f]

sampled_businesses = random.sample(businesses, 10000)

business_data = [
    (
        business["business_id"],
        business.get("name", None),
        business.get("city", None),
        business.get("stars", None),
        business.get("review_count", None),
        business.get("categories", None)
    )
    for business in sampled_businesses
]

# put sampled businesses into  database

cur.executemany("""
    INSERT INTO businesses (business_id, name, city, stars, review_count, categories)
    VALUES (%s, %s, %s, %s, %s, %s)
""", business_data)

#load reviews and filter for sampled businesses

with open(review_file, 'r') as f:
    reviews = [json.loads(line) for line in f]

sampled_business_ids = set(b["business_id"] for b in sampled_businesses)
filtered_reviews = [review for review in reviews if review["business_id"] in sampled_business_ids]


# filter users for the filtered reviews

sampled_user_ids = set(review["user_id"] for review in filtered_reviews)

with open(user_file, 'r') as f:
    users = [json.loads(line) for line in f]

filtered_users = [user for user in users if user["user_id"] in sampled_user_ids]

#insert filtered users

user_data = [
    (
        user["user_id"],
        user.get("name", None),
        user.get("review_count", None),
        user.get("average_stars", None)
    )
    for user in filtered_users
]

cur.executemany("""
    INSERT INTO users (user_id, name, review_count, avg_stars)
    VALUES (%s, %s, %s, %s)
""", user_data)

# filter reviews again for valid users 

valid_user_ids = set(user["user_id"] for user in filtered_users)
filtered_reviews = [
    review for review in filtered_reviews if review["user_id"] in valid_user_ids
]

# insert filtered reviews
review_data = [
    (
        review["review_id"],
            review["business_id"],
        review["user_id"],
        review.get("stars", None),
        review.get("text", None),
        review.get("date", None)
    )
    for review in filtered_reviews
]

cur.executemany("""
    INSERT INTO reviews (review_id, business_id, user_id, stars, text, date)
    VALUES (%s, %s, %s, %s, %s, %s)
""", review_data)


conn.commit()
cur.close()
conn.close()
print("Data loading complete")

Data loading complete

In [4]:
import psycopg
import json
import random

business_file = "/Users/aidanajakulina/Downloads/yelp_dataset/yelp_academic_dataset_business.json"
review_file = "/Users/aidanajakulina/Downloads/yelp_dataset/yelp_academic_dataset_review.json"
user_file = "/Users/aidanajakulina/Downloads/yelp_dataset/yelp_academic_dataset_user.json"

# connect to your PostgreSQL database
conn = psycopg.connect("postgresql://postgres:[password]@localhost/yelp_dataset")
cur = conn.cursor()

cur.execute("TRUNCATE TABLE businesses CASCADE;")
cur.execute("TRUNCATE TABLE reviews CASCADE;")
cur.execute("TRUNCATE TABLE users CASCADE;")

def stream_json(file_path):
    with open(file_path, 'r') as f:
        for line_num, line in enumerate(f, start=1):
            try:
                yield json.loads(line)
            except json.JSONDecodeError as e:
                print(f"Skipping malformed line {line_num}: {e}")

random.seed(42)
businesses = list(stream_json(business_file))
sampled_businesses = random.sample(businesses, min(len(businesses), 10000)) 

business_data = [
    (
        business["business_id"],
        business.get("name"),
        business.get("city"),
        business.get("stars"),
        business.get("review_count"),
        business.get("categories")
    )
    for business in sampled_businesses
]

cur.executemany("""
    INSERT INTO businesses (business_id, name, city, stars, review_count, categories)
    VALUES (%s, %s, %s, %s, %s, %s)
""", business_data)

sampled_business_ids = set(b["business_id"] for b in sampled_businesses)
filtered_reviews = [
    review for review in stream_json(review_file) if review["business_id"] in sampled_business_ids
]

review_data = [
    (
        review["review_id"],
        review["business_id"],
        review["user_id"],
        review.get("stars"),
        review.get("text"),
        review.get("date")
    )
    for review in filtered_reviews
]

cur.executemany("""
    INSERT INTO reviews (review_id, business_id, user_id, stars, text, date)
    VALUES (%s, %s, %s, %s, %s, %s)
""", review_data)

sampled_user_ids = set(review["user_id"] for review in filtered_reviews)
filtered_users = [
    user for user in stream_json(user_file) if user["user_id"] in sampled_user_ids
]
user_data = [
    (
        user["user_id"],
        user.get("name"),
        user.get("review_count"),
        user.get("average_stars")
    )
    for user in filtered_users
]

cur.executemany("""
    INSERT INTO users (user_id, name, review_count, avg_stars)
    VALUES (%s, %s, %s, %s)
""", user_data)

conn.commit()
cur.close()
conn.close()

print("Data loading complete")

Data loading complete

In [5]:
import psycopg


conn = psycopg.connect("postgresql://postgres:[password]@localhost/yelp_dataset")
cur = conn.cursor()


cur.execute("SELECT * FROM businesses LIMIT 10;")
businesses = cur.fetchall()
print("Businesses:")
for row in businesses:
    print(row)

cur.execute("SELECT * FROM reviews LIMIT 10;")
reviews = cur.fetchall()
print("Reviews:")
for row in reviews:
    print(row)


cur.execute("SELECT * FROM users LIMIT 10;")
users = cur.fetchall()
print("Users:")
for row in users:
    print(row)


cur.close()
conn.close()

Businesses:
('gRAVJyM4FmXfAGRPouRDIQ', 'Michaels', 'Pinellas Park', Decimal('3'), 15, 'Shopping, Arts & Crafts, Hobby Shops, Knitting Supplies, Art Supplies')
('5D-Gjagh385iopO3xqjjIQ', "McDonald's", 'Caseyville', Decimal('1.5'), 37, 'Burgers, Coffee & Tea, Fast Food, Restaurants, Food')
('An2JUt207oyqhI4mkTZGWA', 'Dentopia Dental', 'Tucson', Decimal('5'), 6, 'Cosmetic Dentists, Health & Medical, Pediatric Dentists, Dentists, General Dentistry')
('GQiYkSH68NUKTKmU-c3Xjw', "Wendy's", 'Mooresville', Decimal('2'), 11, 'Restaurants, Fast Food, Burgers')
('XxgEVMFOc7nlZkZ6BYCtuQ', 'National Property Inspections', 'Blue Bell', Decimal('4.5'), 6, 'Home Services, Home Inspectors')
('o-qSKPjoMhQZVsvn9wtDlQ', 'Daylight Donuts', 'Boise', Decimal('3.5'), 23, 'Donuts, Food')
('zSDqW5cZq9Bg7O9vMpJ6Tg', 'Casa Blanca Cuban Grill', 'Boise', Decimal('4.5'), 331, 'Cuban, Food, Latin American, Restaurants, Spanish, Caribbean, Food Trucks')
('_lxqF9oFp_g07IHfq-Z7dQ', 'Quality Inn Montgomeryville-Philadelphia', 'Montgomeryville', Decimal('2'), 18, 'Event Planning & Services, Hotels, Hotels & Travel')
('KaGUyXrDgg-wAYYf-212qw', 'Quebedeaux Mitsubishi', 'Tucson', Decimal('3.5'), 7, 'Automotive, Car Dealers')
('xBqQl05mJkAQs_vTj_yGqQ', 'QuikTrip', 'Tucson', Decimal('4.5'), 25, 'Convenience Stores, Food, Automotive, Gas Stations, Fast Food, Restaurants')
Reviews:
('pl5AjpEcFxFTltkBvHjsRA', 'EBn3U4mpnIRLIy2lKuilRQ', 'YjS6MDNwGbueb5WtALIJ2A', Decimal('1'), "Been to this location twice and will never go back again!!!!\n\nFirst time was mediocre, the second time was so very disappointing it beggars belief. I ordered some ribs and had to send them back because one half was warm and the other half was refrigerator cold. They came back and one side was really hot and the other side was still cold, third time it was edible. The manager came over the third time to apologize, never once offered to comp anything. I'm not the kind of guy to cause a fuss to get something comped, but to send something back three times to get it cooked properly and only get an insincere apology really pisses me off, enough for me to write this review.", datetime.date(2012, 11, 6))
('OlaSUt3bA66VcCbVHhR0oA', 'UEgiQRvpAeaq-QyEvm7Ysw', 'CbJ3Z5iL58ufqDhYWJFDtA', Decimal('5'), "Best place for salads! I go there every time I'm in town for lunch. It's fast and veggies are always fresh.", datetime.date(2017, 11, 6))
('QsuwAldo7cc94nJxu6xKWQ', 'dyCfFIt1XIA8lIpuWaW2eQ', 'U0aN9ar9YI24Oc9JshTrDQ', Decimal('5'), 'My parents and I took the Oak Alley and Laura Plantation tour on September 26th, 2015.  I forgot the name of our driver-he was very informative on our drive to the plantations.  The schedule is perfect!  We were dropped off where we had time before and after the tour for free time to walk around the properties.  They are very flexible with drop off locations on the return drive.  We got off near Jackson Square and got to enjoy the rest of the afternoon in the French Quarter.', datetime.date(2015, 10, 8))
('bed0N65L9E1GyiNsI7BOqg', 'OlcuZ9sWonCsSSGuHxb6yw', 'c7g5fn6R9TfPECxFrpwT_w', Decimal('5'), 'Had the brisket sandwich with two sides and a drink for 9.99 - Great barbecue at an affordable price. Wonderful side such as potato casserole cream spinach baked beans green beans', datetime.date(2017, 1, 14))
('1TsJMk7OT7MUSNLQoFc2wA', 's3FRhtaNU8dt-mKkLKUQaQ', '8dpPXJj1JlOE4acEcowUfQ', Decimal('5'), 'I LOVE this place!  I have been coming here for a few years now.  Its a little funky, and I would never order say the escargot, for safety reasons, but when it comes to lots of Saki, great rolls, and mountains of rice and Sashimi, this is the way to go.  Young atmosphere, loud dance music, and SAKI!', datetime.date(2012, 6, 26))
('ZNZMWPfPdbbM7dhZlIpoFA', 'JvawJ9bSr22xn4R9oLvl_w', 'zq2nd0H1dVzi3bta4Zepuw', Decimal('4'), 'Took a while to get actual service but once we did I was happy. The gumbo was awesome and loved the chicken & waffles. Friendly staff and right on Bourbon St for good people watching!', datetime.date(2015, 5, 26))
('i8nVcu3u2-e0szyCS7PY1g', '7sKfrJmjG6unAQeWdQUe2w', 'tGMnQ1EnvZqpn_jAuN8VsA', Decimal('4'), "Love the sweet spiral plain pies at Franzones.  Can't go wrong with plain.  I tried the white pizza with onions in addition and it was a pleasant surprise.  The onions were a great addition to the pizza.  Same Franzone's as the Bridgeport one I grew up with.", datetime.date(2015, 10, 23))
('spcIXDKR5BV5QCI4GjjEeg', 'Mha77MN_BYGB-w7DONZ5YA', '4aM21WsPaP8SUmx9PB-6aw', Decimal('4'), 'The chicken sandwich was phenomenal. Great food for a very industrial area.', datetime.date(2013, 5, 29))
('gbK7d1rp0tLKPS8oMpKFNg', '7sKfrJmjG6unAQeWdQUe2w', 'oMNtNOXYFN0qdSCSfOfTOg', Decimal('5'), "I really like Franzone's. The owner is typically around, super friendly, and seems to really care about the product. While I'm not a big fan of sweet sauce, they also do a decent cheesesteak, fries, etc. Honestly, they may have been closer to a 4 if not that it's always just a really pleasant experience going in, which boosts their rating for me.", datetime.date(2016, 7, 14))
('8AgD3lw9bQUjxO4l86ErsQ', 'cvHY1RTAPSoH94ysP2_eyQ', 'Dhx8SumsYQ0Tw0Zjsplafw', Decimal('5'), "Like wholefoods but much smaller. They have all sorts of stuff from Salad bar, to a small selection of fresh fruits, juice bar. Great lil grocery store. Couldn't really find any other in the city. They have a parking lot. Great walking, just a couple blocks from clothing stores", datetime.date(2017, 4, 30))
Users:
('j14WgRoU_-2ZE1aw1dXrJg', 'Daniel', 4333, Decimal('3.74'))
('SZDeASXq7o05mMNLshsdIA', 'Gwen', 224, Decimal('4.27'))
('AUi8MPWJ0mLkMfwbui27lg', 'John', 109, Decimal('3.4'))
('1McG5Rn_UDkmlkZOrsdptg', 'Teresa', 7, Decimal('4.29'))
('SgiBkhXeqIKl1PlFpZOycQ', 'Eugene', 682, Decimal('3.75'))
('QF1Kuhs8iwLWANNZxebTow', 'Catherine', 607, Decimal('4.11'))
('VcLRGCG_VbAo8MxOm76jzA', 'AJ', 133, Decimal('3.6'))
('1L3O2CUTk27SnmqyPBWQdQ', 'Helen', 38, Decimal('3.98'))
('v7DwnrjzuTk7pXmuBPZnsg', 'Shell', 39, Decimal('4'))
('MGPQVLsODMm9ZtYQW-g_OA', 'Jelena', 1807, Decimal('4.06'))