In [1]:
import psycopg

# Connect to the database
conn = psycopg.connect("dbname=yelp_dataset host=localhost")
cur = conn.cursor()

# Example: Fetch top 5 businesses by rating
query = """
    SELECT name, city, stars
    FROM businesses
    ORDER BY stars DESC
    LIMIT 5;
"""
cur.execute(query)
results = cur.fetchall()

# Display results
for row in results:
    print(row)

# Close the connection
cur.close()
conn.close()

In [2]:
import pandas as pd

df = pd.DataFrame(results, columns=["Name", "City", "Stars"])
display(df)

Empty DataFrame
Columns: [Name, City, Stars]
Index: []